body {
    background-color: #F05454 !important;
    
  }

  nav {
    background-color: #125D98;
    text-align: center;
    color: white;
  }

  .form-signin{
      text-align: left;
  }

  #info{
    color: white;
    font-weight: bold;
  }

  label{
    font-weight: bold;
  }

